@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;300;400;500;700&display=swap");

:root {
    --bg: #27005d;
    --primary: #e4f1ff;
    --secondary: #aed2ff;
    --tri: #9400ff;
}
body {
    font-family: "Onest", sans-serif;
    margin: 5% 25% 5%;
    background-color: var(--bg);
    color: var(--primary);
}

form {
    background-color: var(--secondary);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    padding: 5%;
    color: black;
}

sup {
    color: red;
}
